@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import "../../assets/commons/mixins.scss";

.modal {
    &-content {
        @include font(400, 16px)
    }
    &-header {
        @include font(500, 40px);
        text-align: center;
        padding-left: 95px;
        margin-right: 20px;
    }
    &-body {
        h3 {
            
        }
    }
    &__text {
        &-title {
            @include font(600, 20px);
            text-align: center;
        }
        &-block {
            margin: 20px;
            p {
                margin: 15px;
            }
        }
    }
}
.btn-close {
    width: 10px;
    height: 10px;
    
}