// -----------fonts--mixins------------------------
@mixin flex ($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin font ($weight, $size) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
}