//   ---------------------------------------button colors------------------------------
    $button--color--unpressed: #FFD966;
    $button--color--hover: #FFE69A;

//   ---------------------------------------text colors------------------------------
    $main--text--color: #000000; 
    $secondary--text--color: #333333; 


//   ---------------------------------------text colors------------------------------
    $footer--title--color: white;
    $footer--text--color: #BFBFBF;
    $form--text--color: #1F1F1F;
    $under--input--color: #808080;
    $error--color:  #F22B2B;
//   -------------------------------------background colors--------------------------
    $footer--color: #1E1E1E;
    $hovered--paypal--button: #66b0ff;
    $active--control--color:  rgba(31, 30, 27, 0.1);

//   -------------------------------------input colors-------------------------------
    $placeholder--color: #333333;
    $hovered--input--border: #0275ED;
    $hovered--input--color: rgba(31, 30, 27, 0.1);