@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import "../../assets/commons/mixins.scss";

.ShortInfoBlock--wrapper {
  max-width: 1440px;
  padding: 0 100px;
  margin: 190px auto 100px;
  height: 915px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px
}

.ShortInfoBlock {
  max-width: 500px;
  @include flex (start, center);
  flex-direction: column;
  
  &__header {
    margin-bottom: 40px;
    @include font (500, 48px);
    color: $main--text--color;
  };

  &__description {
    margin-bottom: 40px;
    @include font (500, 16px);
    color: $main--text--color;
  };

  &__button {
    height: 65px;
    width: 390px;
    border: none;
    background-color: $button--color--unpressed;
    @include font (500, 16px);
    color: $main--text--color;
  }

}

.btn, .btn-primary {
  margin-left: 0;
  width: 391px;
}


