
@import '~bootstrap/scss/bootstrap.scss';
@import "../src/assets/colors/colors.scss";
@import "../src/assets/commons/mixins.scss";
@import "../src/assets/fonts/fonts.scss";

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page {
    &__container {
        max-width: 1440px;
        width: 100%;
        @include flex(start, center);
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 120px;

        &__currentNeeds {
            max-width: 1440px;
            width: 100%;
            @include flex(start, center);
            flex-direction: column;
            // margin-top: -200px;
            // margin-bottom: -200px;
        }
    }
}

