@import "../../assets/fonts/fonts.scss";
@import "../../assets/colors/colors.scss";
@import "../../assets/commons/mixins.scss";

.breadcrumbs {
    margin: 140px 0 51px;
    width: 100%;
    @include flex(baseline, space-between);
    &__container {
        width: 100%;
        max-width: 1330px;
        @include flex(baseline, space-between);
    }
}
.breadcrumbs__item {
    &::after {
        content: "";
        background-image: url(../../assets/images/breadcrumb_path.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 10px 3px;
        width: 9px;
        height: 12px;
    }
    a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-decoration: none;
        color: $main--text--color;
    }
    &-active {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: $main--text--color;
    }
}